.sidebar {
    width: 16%;
    height: 450px;
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%
}

.sidebar .usersData {
    margin-bottom: 15px;
    margin-left: 15px;
    float: bottom;
    
}

.sidebar .usersData p{
    margin-bottom: 0;
}


